body {
  background-color: #C5DFF2;
}

.App {
  text-align: center;
  max-width: 2500px;
  margin: 0 auto;
}

.App header {
  background-color:#6CB8EE;    /*top of the screen*/
  height: 10vh;
  min-height: 50px;
  color: black;
  position: fixed;
  width: 100%;
  max-width: 2500px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.5rem;
}

main::-webkit-scrollbar-track {
  background: #C5DFF2;
}

main::-webkit-scrollbar-thumb {
  background: #6CB8EE; 
}

form {                    /*send button*/
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: #C5DFF2;
  width: 100%;
  max-width: 2500px;
  display: flex;
  font-size: 15rem;
}

form button {
  width: 20%;
  background-color: #C5DFF2 ;      /*C send button*/
}


input {                 /*input chat box*/
  line-height: 1;
  width: 100%;
  font-size: 1.5rem;
  background: #6CB8EE;
  color: black;
  outline: none;
  border: none;
  padding: 0 10px;
}

button {
  background-color: #C5DFF2;            /* sign out */
  border: none;
  color: black;
  padding: 27px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {                 /*when no text in box*/
  opacity: 0.75;
  cursor: not-allowed;
}


.sign-in {
  color: #282c34;         /*the sign in*/
  background: #6CB8EE;
  max-width: 400px;
  margin: 0 auto;
}


ul, li {
  text-align: center;
  list-style: none;
}

p {
  max-width: 2500px;               
  margin-bottom: 6px;
  line-height: 15px;
  padding: 5px 10px;
  border-radius: 0px;
  position: relative;
  color: black; /*where it says chat for busy people*/
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: black;               /*send and received texts*/
  align-self: flex-end;
}
.received p {
  color: black;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  margin: 0px 0px;
}

